.button {
  display: block;
  position: relative;
  padding: 0 16px;
  height: 36px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  background-color: $bg-btn;
  border: none;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: $ff;
  outline: none;
}
.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4px;
  left: 0;
  background-color: #cd0e03;
  border-radius: 4px;
  z-index: -1;
}
.button:hover {
  background-color: $bg-btn;
}
.button:active {
  top: 2px;
}
.button:active::after {
  top: 1px;
}

.button:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

.button:disabled:after {
  opacity: 0.1;
}

.button:disabled:active {
  top: 0px;
}

.button:disabled:active::after {
  top: 4px;
}

.reloadWrap {
  position: absolute;
  top: 54px;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, 0%);
}

.reloadWrap .button {
  margin-top: 0;
}

.buttonWrap {
  margin-top: 12px;
}

input {
  display: none;
}
input[type="radio"]:checked + label > span {
  color: #fff;
  font-weight: 700;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
input[type="radio"]:checked + label > span::before {
  background: $bg-btn;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}
input[type="radio"]:checked + label > span:hover {
  background: none;
}