.title__choice {
  position: absolute;
  font-family: $ff;
  font-size: 48px;
  color: #fff;
  top: 40px;
  left: 50%;
  color: #efefef;
  text-shadow: 4px 2px 1px #000;
  transform: translate(-50%, 0);
  white-space: nowrap;
}

.warrior {
  position: absolute;
  width: 170px;
  height: 327px;
  z-index: 103;
  bottom: 44px;
  left: 54%;
  margin-left: -105px;
  transform: translate(-205%, 0px);
  & img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
  }
}

.parent {
  margin-top: 35%;
  max-width: 560px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
}
.div5 {
  grid-area: 1 / 5 / 2 / 6;
}
.div6 {
  grid-area: 1 / 6 / 2 / 7;
}
.div7 {
  grid-area: 1 / 7 / 2 / 8;
}
.div8 {
  grid-area: 2 / 1 / 3 / 2;
}
.div9 {
  grid-area: 2 / 2 / 3 / 3;
}
.div10 {
  grid-area: 2 / 3 / 3 / 4;
}
.div11 {
  grid-area: 2 / 4 / 3 / 5;
}
.div12 {
  grid-area: 2 / 5 / 3 / 6;
}
.div13 {
  grid-area: 2 / 6 / 3 / 7;
}
.div14 {
  grid-area: 2 / 7 / 3 / 8;
}
.div15 {
  grid-area: 3 / 2 / 4 / 3;
}
.div16 {
  grid-area: 3 / 3 / 4 / 4;
}
.div17 {
  grid-area: 3 / 4 / 4 / 5;
}
.div18 {
  grid-area: 3 / 5 / 4 / 6;
}
.div19 {
  grid-area: 3 / 6 / 4 / 7;
}
.div20 {
  grid-area: 4 / 2 / 5 / 3;
}
.div21 {
  grid-area: 4 / 3 / 5 / 4;
}
.div22 {
  grid-area: 4 / 4 / 5 / 5;
}
.div23 {
  grid-area: 4 / 5 / 5 / 6;
}
.div24 {
  grid-area: 4 / 6 / 5 / 7;
}

.row {
  display: flex;
  position: relative;
  z-index: 1;
}

.row:hover {
  z-index: 2;
}
.fighter-ava {
  max-width: 137px;
  height: auto;
  position: relative;
  z-index: 1;
  cursor: pointer;
  &:hover,
  &.active {
    z-index: 2;
  }
  &:hover:before,
  &.active:before {
    content: "P1";
    display: block;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -4px;
    left: -4px;
    position: absolute;
    color: #fff;
    text-shadow: 0px 0px 3px #000;
    font-family: $ff;
    border: 9px solid #21aa21;
  }

  &.active-p2 {
    z-index: 2;
    &:after {
      content: "P2";
      text-align: right;
      display: block;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      top: -3px;
      left: -3px;
      position: absolute;
      color: #fff;
      text-shadow: 0px 0px 3px #000;
      font-family: $ff;
      border: 9px solid $bg-btn-addition;
    }
  }

  &.disabled {
    cursor: default;
  }
  &.disabled:hover:before {
    display: none;
  }

  & img {
    width: 100%;
  }
}
