@import "_fonts";
@import "_abstract";
@import "_loading";
@import "_buttons";
@import "_common";
@import "_choice";
@import "_welcome";

.arenas {
  width: 786px;
  height: 578px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
}

.arenas.arena1 {
  background-image: url(../assets/scorpions-lair-arenas.png);
}

.arenas.arena2 {
  background-image: url(../assets/the-cave.png);
}

.arenas.arena3 {
  background-image: url(../assets/jade-s-desert.png);
}

.arenas.arena4 {
  background-image: url(../assets/scislac-busorez.png);
}

.arenas.arena5 {
  background-image: url(../assets/waterfront.png);
}

.player1,
.player2 {
  width: 50%;
  position: relative;
}

.progressbar {
  width: 295px;
  border: 4px solid $bg-btn;
  position: absolute;
  top: 59px;
  height: 28px;
  background-color: $bg-pbar;
  display: flex;
}

.player1 .progressbar {
  left: 38px;
}

.player2 .progressbar {
  right: 38px;
  flex-direction: row-reverse;
}

.extralife {
  width: 90px;
  border: 2px solid $bg-btn;
  position: absolute;
  top: 85px;
  height: 12px;
  background-color: $bg-btn-addition;
  display: flex;
}

.player1 .extralife {
  left: 38px;
}

.player2 .extralife {
  right: 38px;
  flex-direction: row-reverse;
}

.extralife .life {
  background: #00d600;
}

.life {
  background-color: #0431f9;
  height: 100%;
  width: 90%;
}

.name {
  position: absolute;
  font-family: "Mortal Kombat 3";
  font-size: 26px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #efefef;
  top: 0;
  text-transform: uppercase;
}

.player1 .name {
  left: 5px;
}

.player2 .name {
  right: 5px;
}

.chat {
  width: 786px;
  height: 30vh;
  background-image: url(../assets/versus.png);
  background-size: cover;
  background-position: center;
  border-top: 4px solid $bg-btn;
  padding: 6px 40px;
  overflow: auto;
  color: white;
  font-family: Arial;
}

.chat::-webkit-scrollbar {
  width: 0;
}

.chat span {
  font-family: $ff;
  color: #f58300;
}

.character {
  // position: absolute;
  bottom: 20px;
  width: 150px;
  height: 268px;
}

.player1 .character {
  left: 60px;
}

.player2 .character {
  right: 60px;
}

.player2 .character img:not([class]) {
  transform: scaleX(-1) translate(50%, 0);
}

.character img {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.fight {
  position: absolute;
  z-index: 100;
  top: 30%;
  width: 300px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.fight img {
  width: 100%;
}

.winsTitle {
  position: absolute;
  top: 22%;
  left: 50%;
  font-size: 36px;
  transform: translate(-50%, 0%);
  text-transform: uppercase;
  z-index: 1000;
  color: white;
  font-family: $ff;
  text-shadow: 2px 2px 2px $bg-btn-addition;
}

form:invalid button[class="button"] {
  opacity: 0.9;
  cursor: not-allowed;
}

form:invalid button[class="button"]:after {
  opacity: 0.1;
}

form:invalid button[class="button"]:active {
  top: 0px;
}

form:invalid button[class="button"]:active::after {
  top: 4px;
}

.control {
  position: absolute;
  width: 200px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.inputWrap {
  position: relative;
  width: 280px;
  margin-bottom: 24px;
}

.inputWrap h2 {
  text-align: center;
  margin: 0 auto 20px;
  font-weight: 700;
  font-family: $ff;
  color: #efefef;
  text-transform: uppercase;
}

.ul {
  border: solid 3px $bg-btn-addition;
  height: 50px;
  padding: 0 12px;
  font-family: $ff;
  display: flex;
  justify-content: space-between;
  color: #efefef;
}
.ul label {
  cursor: pointer;
}
.ul label:nth-of-type(2) {
  margin: 0 -4.5px;
}
.ul label span {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 50px;
  line-height: 50px;
  transition: 0.3s;
  text-align: center;
  margin-top: -3px;
}
.ul label span::before {
  position: relative;
  display: block;
  width: 80px;
  height: 50px;
  content: "";
  transform: scaleY(1.2);
  z-index: -1;
  margin-bottom: -50px;
  transition: 0.3s;
}
.ul label span:hover {
  background-color: rgba(107, 185, 240, 0.2);
}

.bang {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.logo.off {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
