*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: $bg-color;
  overflow: hidden;
}

.content{
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}