.wall {
  position: absolute;
  width: 450px;
  height: 100%;
  background-color: $bg-color;
  min-height: 100vh;
  top: 0;
  z-index: 100;
  &_left {
    left: calc(50% - 467px);
    transition: transform 5s ease-in-out;
    &.open {
      transform: translate(-380px, 0px);
      transition: transform 5s ease-in-out;
    }
    & img {
      width: 87px;
      height: 100%;
      position: absolute;
      right: -30px;
    }
  }
  &_right {
    right: calc(50% - 467px);
    transition: transform 5s ease-in-out;
    &.open {
      transform: translate(380px, 0px);
      transition: transform 5s ease-in-out;
    }
    & img {
        width: 87px;
        height: 100%;
        position: absolute;
        left: -30px;
      }
  }

}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.logo.off {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
